body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
}

.mainphoto {
   width: 646px;
   height: 400px;
   border: 1px solid gray;
   display: flex;
   align-items: center;
   justify-content: center;
}
img {
   border: 1px solid grey;
   padding: 21px;
   cursor: pointer;
   opacity: 1;
   transition: opacity linear 0.3s;
}

.small_pic {
   display: flex;
}

iframe {
   width: 256px;
   height: 256px;
}

img:hover {
   opacity: 0.6;
}
